/* cursor 2 Amination  */
 
.circle{
    z-index: 1;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #000;
    top: 0;
    left: 0;
    position: fixed;
}


/* /cursor 3 Animation  */
